<a href="https://colab.research.google.com/github/123Prostab/Practice-ML-DL/blob/main/Copy_of_Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h1> **Types Of Functions**<h1>

In [ ]:
#Built-in-Functions
#User-defined Functions
num = -100
print(abs(num))

100

In [ ]:
lst = [1,2,3,4]
tup = (0,2,3,4)
print(all(lst))
print(all(tup))

True
False

In [ ]:
lst = []
print(all(lst))

True

In [ ]:
print(divmod(9,2))

(4, 1)

In [ ]:
numbers = [10,20,30,40]
for index,num in enumerate(numbers):
  print(f"{index} has value {num}")

0 has value 10
1 has value 20
2 has value 30
3 has value 40

In [ ]:
#dir
numbers = [1,2,3]

print(dir(numbers))

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [ ]:
numbers = [10,20,30,40]
for index,num in enumerate(numbers,5):
  print(f"{index} has value {num}")

5 has value 10
6 has value 20
7 has value 30
8 has value 40

In [ ]:
#filter
def find_positive_number(num):
  if num > 0:
    return num

In [ ]:
number_list = range(-10,10)
print(list(number_list))
positive_number_list = list(filter(find_positive_number,number_list))
print(positive_number_list)

[-10, -9, -8, -7, -6, -5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
lst = [1,2,3,4]
print(isinstance(lst,list))
t = (1,2,3,4)
print(isinstance(t,list))

True
False

In [ ]:
#map
#square of a list
numbers = [1,2,3,4]
squared = []
for num in numbers:
  squared.append(num ** 2)
print(squared)

[1, 4, 9, 16]

In [ ]:
numbers = [1,2,3,4]
def poweroftwo(num):
  return num ** 2
squared = list(map(poweroftwo,numbers))
print(squared)

[1, 4, 9, 16]

In [ ]:
product = 1
lst = [1,2,3,4]

for num in lst:
  product *= num
print(product)

24

In [ ]:
from functools import reduce
def multiply(x,y):
  return(x*y)
product = reduce(multiply,lst)#rolling computation to sequential pair of values of list
print(product)

24

In [ ]:
#user defined function
def product_numbers(a,b):
  product = a * b
  return product

print(product_numbers(3,4))

12

In [ ]:
#calculator

def add(a,b):
  return a + b

def substract(a,b):
  return a - b

def multiply(a,b):
  return a * b

def divison(a,b):
  return a / b

print("Select Option")
print("1.Addition")
print("2.SUbstraction")
print("3.Multiplication")
print("4.Division")
choice = int(input("enter choice 1/2/3/4 : "))
num1 = int(input("enter the first number: "))
num2 = int(input("enter the second number: "))
if choice == 1:
  print(f"addition of {num1} and {num2} is {add(num1,num2)}")
elif choice == 2:
  print(f"SUbstraction of {num1} and {num2} is {substract(num1,num2)}")
elif choice == 3:
  print(f"multiply of {num1} and {num2} is {multiply(num1,num2)}")
elif choice == 4:
  print(f"divison of {num1} and {num2} is {divion(num1,num2)}")
else:
  print("wrong choice")

Select Option
1.Addition
2.SUbstraction
3.Multiplication
4.Division
enter choice 1/2/3/4 : 5
enter the first number: 15
enter the second number: 4
wrong choice